<div class="col-md-3">
    <p><b>Name: </b><%= @restaurant.name %></p>
    <p><b>Description: </b><%= @restaurant.description %></p>
    <p>
      <%= link_to 'Back', restaurants_path %>
      <%= link_to 'front' %>
      <%= link_to 'destroy' %>
    </p>
  </div>
